* text=auto eol=lf
*.py text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.lock text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Binary files
*.parquet binary
*.png binary
*.jpg binary
*.pdf binary
